*{
	overflow-x: hidden;
}
::-webkit-scrollbar{
	 width: 5px;
	padding: 5px;
	border-radius: 20px;
	}
	
	::-webkit-scrollbar-thumb{
		width: 5px;
		background: #6B7280;
		border-radius: 20px;
	}
	
	::-webkit-scrollbar-thumb:hover{
		background: #8B008B;
		width: 5px;
	}
	